.invisible, .popup {
  display: none
}

#bottomDiv, .loader {
  max-height: 50vh;
  z-index: 100;
  bottom: 0
}

:host {
  all: initial
}

blockquote, body {
  margin: 10px
}

.alexClass:hover {
  background-color: #ff0
}

.popDup div:last-child {
  margin-bottom: auto
}

.popDup div {
  margin-bottom: 10px
}

.popDup {
  background-color: #fffbec;
  border-radius: 4px;
  padding: 10px;
  line-height: normal;
  font-size: 12px;
  color: #2f4f4f;
  box-sizing: border-box;
  width: 100%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

#bottomDiv {
  background: 0 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 30px #2f4f4f;
}

.visible {
  display: inline-block;
}

.title {
  display: block;
  font-size: 24px;
  margin: 0 0 10px;
  font-weight: 700;
  color: #800020;
}

.loader {
  background-color: #fffbec;
  box-shadow: none;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite
}

@keyframes spin {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}

.crossreference, .foreign {
  font-style: italic
}

.freeform, .inline-site-toc li.toplevel.show span:first-of-type {
  display: none
}

.inline-site-toc a {
  display: -webkit-box !important;
}

.nav-sprite{background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-V3-1x_optimized._CB516556901_.png)}.hud-multi-asin-image-wrapper{display:inline-block;position:relative;margin-right:5px}.hud-multi-asin-title-wrapper{display:inline-table;width:130px;word-break:break-word;white-space:initial;line-height:inherit}.hud-multi-asin-text-wrapper{overflow-y:hidden;max-height:38px}.hud-multi-asin-player-icon-wrapper{position:absolute;left:50%;top:50%;width:25px;opacity:0;transform:translate(-50%,-50%)}.hud-multi-asin-image-wrapper:hover .hud-multi-asin-player-icon-wrapper{opacity:1;pointer-events:none}.hud-single-player-content-wrapper{position:relative;display:inline-block}.hud-single-player-icon-wrapper{margin:0;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);padding-top:7px;pointer-events:none;width:45px}.hud-card-subtext-line1{font-size:15px;margin-top:0;margin-bottom:0;overflow:hidden}.hud-card-subtext-line2{font-size:15px;color:#fff;margin-top:-2px;overflow:hidden;text-overflow:ellipsis;max-width:30ch}.hud-card-image{max-width:210px;height:150px;margin-top:15px;margin-bottom:5px}.hud-card-divider{width:210px;height:5px;background:#82D8E3;margin-bottom:10px;margin-top:5px}.hud-card-1 .hud-card-divider,.hud-card-13 .hud-card-divider,.hud-card-5 .hud-card-divider,.hud-card-9 .hud-card-divider{background:#82D8E3!important}.hud-card-10 .hud-card-divider,.hud-card-14 .hud-card-divider,.hud-card-2 .hud-card-divider,.hud-card-6 .hud-card-divider{background:#ADE422!important}.hud-card-11 .hud-card-divider,.hud-card-15 .hud-card-divider,.hud-card-3 .hud-card-divider,.hud-card-7 .hud-card-divider{background:#FFA724!important}.hud-card-12 .hud-card-divider,.hud-card-16 .hud-card-divider,.hud-card-4 .hud-card-divider,.hud-card-8 .hud-card-divider{background:#FF5252!important}.feed-carousel-touch .feed-carousel-viewport{overflow-x:scroll!important;-webkit-overflow-scrolling:touch!important}.hud-feed-carousel .hud-feed-carousel-viewport,div.hud-feed-carousel{width:100%;overflow:hidden;margin:0;position:relative}.hud-feed-carousel.feed-carousel .feed-carousel-control{top:90px!important}.hud-feed-carousel .hud-feed-carousel-viewport{min-height:220px;white-space:nowrap}.hud-feed-carousel .hud-feed-carousel-card{vertical-align:top;min-height:200px}.hud-feed-carousel .hud-feed-carousel-shelf{display:inline-block;position:relative;left:0;margin:0 0 14px;padding:0}.hud-feed-carousel .feed-carousel-control,.hud-feed-carousel .spinner{position:absolute;background-color:#fff;text-align:center;display:none}.hud-feed-carousel .spinner{line-height:100%;left:0;right:0;top:0;bottom:0;padding-top:50px}.hud-feed-carousel .feed-carousel-control{top:100px;height:100px;line-height:100px;width:45px;box-shadow:0 1px 3px #888;user-select:none;-ms-user-select:none;-webkit-user-select:none}.hud-feed-carousel .hud-feed-left{left:0;border-radius:0 3px 3px 0;clip:rect(-10px,55px,110px,0);padding-right:5px}.hud-feed-carousel .hud-feed-left .hud-feed-arrow{background-position:-14px 0}.hud-feed-carousel .hud-feed-left:hover .hud-feed-arrow{background-position:-14px -23px}.hud-feed-carousel .hud-feed-right{right:0;border-radius:3px 0 0 3px;clip:rect(-10px,45px,110px,-10px);padding-left:5px}.hud-feed-carousel .hud-feed-right .hud-feed-arrow{background-position:0 0}.hud-feed-carousel .hud-feed-right:hover .hud-feed-arrow{background-position:0 -23px}.hud-feed-carousel .feed-carousel-control.feed-left.feed-control-disabled{display:none!important}.hud-feed-carousel .hud-feed-arrow{display:inline-block;line-height:normal;vertical-align:top;position:relative;top:50%;height:22px;width:13px;margin-top:-11px}.a-touch .hud-feed-carousel .feed-carousel-control,.hud-white-dashboard .hud-card-seemore{display:none}.a-no-js .hud-feed-carousel .hud-feed-carousel-viewport{overflow-x:scroll}html[data-useragent*=' Trident/'] .hud-feed-carousel-viewport{border-left:1px solid #fff;border-right:1px solid #fff}.a-lt-ie8 .hud-feed-carousel .hud-feed-carousel-shelf{overflow:hidden}.a-lt-ie9 .hud-feed-carousel .hud-feed-left{zoom:1;filter:progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#888888')}.a-lt-ie9 .hud-feed-carousel .hud-feed-right{zoom:1;filter:progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=225, Color='#888888')}.hud-card-title-wrapper{width:210px;overflow:hidden}.hud-black-dashboard{background-color:#232F3E}.hud-black-dashboard .feed-carousel-card{margin:0;line-height:19px;width:240px;height:300px}.hud-black-dashboard .hud-card-wrapper{background-color:#232F3E;position:relative;padding:15px;height:300px}.hud-black-dashboard .hud-card-seemore{position:absolute;bottom:10px}.hud-black-dashboard .hud-modal-link,.hud-black-dashboard .hud-modal-link:hover{font-size:13px;color:#DDE2E2;text-decoration:none!important;float:left}.hud-black-dashboard .hud-modal-link:after{color:#AAB7B8;content:"\203A";padding-left:2px;font-size:11px}.hud-black-dashboard .hud-card-title,.hud-black-dashboard .hud-card-title-wrapper{text-decoration:none!important;color:#fff;font-size:24px;margin:0}.hud-black-dashboard .hud-card-title-small .hud-card-title,.hud-black-dashboard .hud-card-title-small .hud-card-title-wrapper{font-size:19px}.hud-black-dashboard .hud-card-subtext-line1,.hud-black-dashboard .hud-card-subtext-line2{color:#FFF}.hud-black-dashboard .feed-carousel-control.feed-left,.hud-black-dashboard .feed-carousel-control.feed-right{opacity:.7;z-index:150}.hud-black-dashboard .feed-carousel-control.feed-right.feed-control-disabled{opacity:.1}.hud-white-dashboard{background-color:#EAEDED}.hud-white-dashboard .hud-feed-carousel .feed-carousel-card{background-color:#fff;line-height:19px;width:240px;height:280px;margin:10px 0 10px 6px}.hud-white-dashboard .hud-feed-carousel{padding-right:10px;padding-left:4px}.hud-white-dashboard .hud-card-wrapper{position:relative;padding:15px;height:280px}.hud-white-dashboard .hud-card-title,.hud-white-dashboard .hud-card-title-wrapper{text-decoration:none!important;color:#002E36;font-size:24px;margin:0}.hud-white-dashboard .hud-card-title-small .hud-card-title,.hud-white-dashboard .hud-card-title-small .hud-card-title-wrapper{font-size:19px}.hud-white-dashboard .hud-card-subtext-line1,.hud-white-dashboard .hud-card-subtext-line2{color:#002E36}.hud-white-dashboard .feed-carousel-control.feed-left,.hud-white-dashboard .feed-carousel-control.feed-right{opacity:1;z-index:150;background:#eaeded!important}.hud-white-dashboard .feed-carousel-control.feed-right{right:10px!important}.hud-white-dashboard .feed-carousel-control.feed-right.feed-control-disabled{display:none!important}.hud-profile-image{border-radius:50%;width:45px;height:45px}.hud-profilecard-name{font-size:18px;margin:0;padding-bottom:1px;overflow:hidden;text-overflow:ellipsis}.hud-profilecard-name-twoline{word-break:keep-all;word-wrap:break-word;white-space:pre-line;height:48px}.hud-white-dashboard .hud-profilecard-name{padding-right:15px;width:160px}.hud-black-dashboard .hud-profilecard-name{width:175px}.hud-profilecard-divider{width:45px;margin:20px 0 8px}.hud-profilecard-categories-title,.hud-profilecard-category,.hud-profilecard-customer-since,.hud-profilecard-digital-preorders,.hud-profilecard-digital-preorders-title,.hud-profilecard-yourorders,.hud-profilecard-yourorders-title{font-size:13px;text-decoration:none!important;margin:0}.hud-black-dashboard .hud-profilecard-categories-title,.hud-black-dashboard .hud-profilecard-customer-since,.hud-black-dashboard .hud-profilecard-digital-preorders-title,.hud-black-dashboard .hud-profilecard-yourorders-title{color:#a2a6ac!important}.hud-white-dashboard .hud-profilecard-categories-title,.hud-white-dashboard .hud-profilecard-customer-since,.hud-white-dashboard .hud-profilecard-digital-preorders-title,.hud-white-dashboard .hud-profilecard-yourorders-title{color:#879596!important}.hud-profilecard-category{text-overflow:ellipsis;display:block;overflow:hidden;margin-right:-4px}.hud-black-dashboard .hud-profilecard-category,.hud-black-dashboard .hud-profilecard-digital-preorders,.hud-black-dashboard .hud-profilecard-name,.hud-black-dashboard .hud-profilecard-yourorders{color:#fff!important}.hud-white-dashboard .hud-profilecard-category,.hud-white-dashboard .hud-profilecard-digital-preorders,.hud-white-dashboard .hud-profilecard-name,.hud-white-dashboard .hud-profilecard-yourorders{color:#002e36!important}.hud-profilecard-card{padding:12px 15px 15px;position:relative}.hud-profile-wrapper{display:inline-block}.hud-profile-image-wrapper{display:inline-block;vertical-align:top}.hud-profile-name-wrapper{display:inline-block;margin:0;vertical-align:top;height:45px;padding-left:15px;line-height:23px}
