.etym-invisible, .etym-popup {
  display: none
}

.etym-visible {
  display: inline-block;
}

etym-span:hover {
  background-color: #ff0
}

#etym-bottomDiv {
  max-height: 50vh;
  z-index: 2147483645;
  top: auto !important;
  bottom: 0;
  background: 0 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 30px #2f4f4f;
}
