:host {
  all: initial
}

blockquote {
  margin: 10px
}

a {
  color: #800020
}

.crossreference, .foreign {
  font-style: italic
}

.credit {
  text-align: center;
  font-size: 10px;
}

.popDup div:last-child {
  margin-bottom: auto;
}

.popDup div {
  margin-bottom: 10px
}

.popDup {
  background-color: #fffbec;
  border-radius: 4px;
  padding: 10px;
  line-height: normal;
  font-size: 12px;
  color: #2f4f4f;
  box-sizing: border-box;
  width: 100%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

.title {
  display: block;
  font-size: 24px;
  margin: 0 0 10px;
  font-weight: 700;
  color: #800020;
}

.loader {
  max-height: 50vh;
  z-index: 2147483645;
  bottom: 0;
  background-color: #fffbec;
  box-shadow: none;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite
}

@keyframes spin {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}
